.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: tomato;
    color: white;
}

.button:hover {
    background: blue;
    transition: all 0.32 ease;
}

.navbar_links:hover {
    color: tomato;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: black;
    }

    .navbar_menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    #navbar_logo i {
        margin-right: 8px; /* Adds spacing between icons and text */
    }

    .navbar_toggle.bar {
        width: ;
    }
    }
}